<app-top-nav></app-top-nav>
<!-- Input that came from AngularJS -->
<h2>{{ name }} Hybrid</h2>
<br>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        AngularJS Material
      </mat-panel-title>
      <mat-panel-description>
        Components built for AngularJS 1.x
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- AngularJS Component that uses templateUrl-->
    <ng1-tabs></ng1-tabs>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular Material
      </mat-panel-title>
      <mat-panel-description>
        Components built for Angular version 9
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-tabs></app-tabs>
  </mat-expansion-panel>
</mat-accordion>
<br>
<footer>
  <!-- AngularJS Component that has an inline template -->
  <version-stamp></version-stamp>
</footer>
