<div class="layout-margin">
  <md-switch ng-model="$ctrl.showTabsContainer">Show Tabs</md-switch>
  <div id="tabsContainer" ng-hide="!$ctrl.showTabsContainer">
    <md-tabs>
      <md-tab>
        <md-tab-label>tab one</md-tab-label>
        <md-tab-body>tab one content</md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>tab two</md-tab-label>
        <md-tab-body>tab two content</md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>tab three</md-tab-label>
        <md-tab-body>tab three content</md-tab-body>
      </md-tab>
    </md-tabs>
  </div>
</div>
